<a href="https://colab.research.google.com/github/karoz-exe/Homework-Kazancev-R.A-/blob/hw_3/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Практическое задние №3**

**Задание:**
1. Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) - 1 балл;
2. Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - 1 балл;
3. Посчитайте процент выживаемости у каждого класса пассажиров (Pclass) - 1 балл;
4. Выведите самое популярное мужское и самое популярное женское имя на корабле - 1 балл;
5. Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе - 2 балла;
6. Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл;
7. Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола - 2 балла;
8. Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека) - 1 балл.

In [36]:
# подзадание №1
import os
import pandas as pd
print(f"Текущая директория: {os.getcwd()}")
df = pd.read_csv("/content/data titanic.csv")

Текущая директория: /content

In [37]:
# подзадание №2
print("Основная информация о датасете:\n", df.info())
print("\nОписание числовых данных:\n", df.describe())
print("\nКоличество пропусков в каждом столбце:\n", df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Основная информация о датасете:
 None

Описание числовых данных:
        PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Количество пропусков в каждом столбце:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [38]:
# Подзадание №3
survival_by_class = df.groupby('Pclass')['Survived'].mean() * 100
print("\nПроцент выживаемости по классам пассажиров:\n", survival_by_class)

Процент выживаемости по классам пассажиров:
 Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [39]:
# Подзадание №4
df['Name'] = df['Name'].str.extract(r'([A-Za-z]+),', expand=False)
male_names = df[df['Sex'] == 'male']['Name'].value_counts()
female_names = df[df['Sex'] == 'female']['Name'].value_counts()
print("\nСамое популярное мужское имя:", male_names.index[0], "(", male_names.iloc[0], ")")
print("Самое популярное женское имя:", female_names.index[0], "(", female_names.iloc[0], ")")

Самое популярное мужское имя: Panula ( 5 )
Самое популярное женское имя: Andersson ( 6 )

In [40]:
# Подзадание №5
print("\nСамые популярные имена по классам:")
for pclass in df['Pclass'].unique():
    df_class = df[df['Pclass'] == pclass]
    male_names_class = df_class[df_class['Sex'] == 'male']['Name'].value_counts()
    female_names_class = df_class[df_class['Sex'] == 'female']['Name'].value_counts()

    print(f"\nКласс {pclass}:")
    if not male_names_class.empty:
        print("  Самое популярное мужское имя:", male_names_class.index[0], "(", male_names_class.iloc[0], ")")
    else:
        print("  Мужчин в этом классе нет.")
    if not female_names_class.empty:
        print("  Самое популярное женское имя:", female_names_class.index[0], "(", female_names_class.iloc[0], ")")
    else:
        print("  Женщин в этом классе нет.")

Самые популярные имена по классам:

Класс 3:
  Самое популярное мужское имя: Panula ( 5 )
  Самое популярное женское имя: Andersson ( 6 )

Класс 1:
  Самое популярное мужское имя: Carter ( 2 )
  Самое популярное женское имя: Allison ( 2 )

Класс 2:
  Самое популярное мужское имя: Hickman ( 3 )
  Самое популярное женское имя: Hart ( 2 )

In [41]:
# Подзадание №6
print("\nПассажиры старше 44 лет:\n", df[df['Age'] > 44].head())

Пассажиры старше 44 лет:
     PassengerId  Survived  Pclass      Name     Sex   Age  SibSp  Parch  \
6             7         0       1  McCarthy    male  54.0      0      0
11           12         1       1   Bonnell  female  58.0      0      0
15           16         1       2   Hewlett  female  55.0      0      0
33           34         0       2   Wheadon    male  66.0      0      0
52           53         1       1    Harper  female  49.0      1      0

        Ticket     Fare Cabin Embarked
6        17463  51.8625   E46        S
11      113783  26.5500  C103        S
15      248706  16.0000   NaN        S
33  C.A. 24579  10.5000   NaN        S
52    PC 17572  76.7292   D33        C

In [42]:
# Подзадание №7
print("\nМужчины младше 44 лет:\n", df[(df['Age'] < 44) & (df['Sex'] == 'male')].head())

Мужчины младше 44 лет:
     PassengerId  Survived  Pclass         Name   Sex   Age  SibSp  Parch  \
0             1         0       3       Braund  male  22.0      1      0
4             5         0       3        Allen  male  35.0      0      0
7             8         0       3      Palsson  male   2.0      3      1
12           13         0       3  Saundercock  male  20.0      0      0
13           14         0       3    Andersson  male  39.0      1      5

       Ticket    Fare Cabin Embarked
0   A/5 21171   7.250   NaN        S
4      373450   8.050   NaN        S
7      349909  21.075   NaN        S
12  A/5. 2151   8.050   NaN        S
13     347082  31.275   NaN        S

In [43]:
# Подзадание №8
cabin_counts = df.groupby('Cabin')['PassengerId'].count()
print("\nКоличество человек в кабинах:", cabin_counts.value_counts())

Количество человек в кабинах: PassengerId
1    101
2     38
3      5
4      3
Name: count, dtype: int64