<a href="https://colab.research.google.com/github/karoz-exe/Homework-Kazancev-R.A-/blob/hw_5/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%E2%84%965.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Практическое задание №5**

**Polars:**
1. Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью polars - 1 балл
2. Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - 1 балл
hint: используйте методы и атрибуты датафрейма: describe(), dtypes, null_count(), mean()...
3. Посчитайте количество пассажиров каждого класса (Pclass) - 1 балл
hint: используйте методы: get_column(), value_counts()...
4. Выведите количество выживших мужчин и женщин на корабле - 1 балл
hint: используйте методы: groupby(), agg(), pl.col(), sum()...
5. Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл
hint: используйте методы: filter(), pl.col()...

In [ ]:
import polars as pl

In [ ]:
# Подзадание №1
df = pl.read_csv("/content/sample_data/data titanic.csv")

In [ ]:
# Подзадание №2
print("Основная информация о датасете:")
print(df.describe())
print("\nТипы данных:")
print(df.dtypes)
print("\nКоличество пропусков:")
print(df.null_count())
# Средние значения
numeric_cols = df.select(pl.all().exclude(["Name", "Sex", "Ticket", "Cabin", "Embarked"])).columns
print("\nСредние значения:")
print(df.select(numeric_cols).mean())

Основная информация о датасете:
shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

Типы данных:
[Int64, Int64, Int64, String, String, Float64, Int64, Int64, String, Float64, String, String]

Количество пропусков:
shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

Средние значения:
shape: (1, 7)
┌─────────────┬──────────┬──────────┬───────────┬──────────┬──────────┬───────────┐
│ PassengerId ┆ Survived ┆ Pclass   ┆ Age       ┆ SibSp    ┆ Parch    ┆ Fare      │
│ ---         ┆ ---      ┆ ---      ┆ ---       ┆ ---      ┆ ---      ┆ ---       │
│ f64         ┆ f64      ┆ f64      ┆ f64       ┆ f64      ┆ f64      ┆ f64       │
╞═════════════╪══════════╪══════════╪═══════════╪══════════╪══════════╪═══════════╡
│ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ 29.699118 ┆ 0.523008 ┆ 0.381594 ┆ 32.204208 │
└─────────────┴──────────┴──────────┴───────────┴──────────┴──────────┴───────────┘

In [ ]:
# Подзадание №3
print("\nКоличество пассажиров каждого класса:")
print(df.get_column("Pclass").value_counts())

Количество пассажиров каждого класса:
shape: (3, 2)
┌────────┬───────┐
│ Pclass ┆ count │
│ ---    ┆ ---   │
│ i64    ┆ u32   │
╞════════╪═══════╡
│ 3      ┆ 491   │
│ 2      ┆ 184   │
│ 1      ┆ 216   │
└────────┴───────┘

In [ ]:
 !pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (1.9.0)

In [ ]:
# Подзадание №4
survived_by_sex = df.groupby(["Sex", "Survived"]).agg(pl.count())
print("\nКоличество выживших мужчин и женщин:")
print(survived_by_sex)

AttributeError: 'DataFrame' object has no attribute 'groupby'

In [ ]:
# Подзадание №5
print("\nПассажиры старше 44 лет:")
print(df.filter(pl.col("Age") > 44))

Пассажиры старше 44 лет:
shape: (115, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆            ┆         ┆       ┆          │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs.    ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Mary D          ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Kingcome…        ┆   ┆            ┆         ┆       ┆          │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr.     ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Edward H         ┆   ┆            ┆         ┆       ┆          │
│ 53          ┆ 1        ┆ 1      ┆ Harper, Mrs.     ┆ … ┆ PC 17572   ┆ 76.7292 ┆ D33   ┆ C        │
│             ┆          ┆        ┆ Henry Sleeper    ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (My…             ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 858         ┆ 1        ┆ 1      ┆ Daly, Mr. Peter  ┆ … ┆ 113055     ┆ 26.55   ┆ E17   ┆ S        │
│             ┆          ┆        ┆ Denis            ┆   ┆            ┆         ┆       ┆          │
│ 863         ┆ 1        ┆ 1      ┆ Swift, Mrs.      ┆ … ┆ 17466      ┆ 25.9292 ┆ D17   ┆ S        │
│             ┆          ┆        ┆ Frederick Joel   ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Ma…             ┆   ┆            ┆         ┆       ┆          │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith, Mrs.   ┆ … ┆ 11751      ┆ 52.5542 ┆ D35   ┆ S        │
│             ┆          ┆        ┆ Richard Leonard… ┆   ┆            ┆         ┆       ┆          │
│ 874         ┆ 0        ┆ 3      ┆ Vander Cruyssen, ┆ … ┆ 345765     ┆ 9.0     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Victor       ┆   ┆            ┆         ┆       ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs.     ┆ … ┆ 11767      ┆ 83.1583 ┆ C50   ┆ C        │
│             ┆          ┆        ┆ Thomas Jr (Lily  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ A…               ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

**Ускорение работы с pandas**
1. Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью pandas
2. Посчитайте средний возраст пассажиров и его стандартное отклонение с помощью bottleneck - 1 бал
hint: используйте методы: bn.nanmean(), bn.nanstd()
3. Для каждого пассажира умножьте значение столбца Fare на 1.3 и сохраните результаты как новый столбец Fare_new - 1 балл
hint: используйте методы: .itertuples() или apply()

In [ ]:
# Подзадание №1
import pandas as pd
import bottleneck as bn
df = pd.read_csv("/content/sample_data/data titanic.csv")
# Подзадание №2
try:
  mean_age = bn.nanmean(df["Age"])
  std_age = bn.nanstd(df["Age"])
  print(f"Средний возраст пассажиров: {mean_age:.2f}")
  print(f"Стандартное отклонение возраста: {std_age:.2f}")
except KeyError:
  print("Error: 'Age' column not found in the DataFrame.")
except Exception as e:
  print(f"An unexpected error occurred during calculation: {e}")


# Подзадание №3
try:
  df['Fare_new'] = [row.Fare * 1.3 for row in df.itertuples()]
  print("\nDataFrame with new column 'Fare_new':")
  print(df.head())
except KeyError:
  print("Error: 'Fare' column not found in the DataFrame.")
except Exception as e:
  print(f"An unexpected error occurred during column creation: {e}")

Средний возраст пассажиров: 29.70
Стандартное отклонение возраста: 14.52

DataFrame with new column 'Fare_new':
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Fare_new
0      0         A/5 21171   7.2500   NaN        S   9.42500
1      0          PC 17599  71.2833   C85        C  92.66829
2      0  STON/O2. 3101282   7.9250   NaN        S  10.30250
3      0            113803  53.1000  C123        S  69.03000
4      0            373450   8.0500   NaN        S  10.46500

**Оптимизация типов pandas**
1. Считайте датасет из файла Housing.csv (это данные о ценах домов) с помощью pandas
2. Для каждого столбца определите оптимальный с точки зрения потребления памяти тип данных - напишите свои выводы в комментариях - 2 балла
3. Поменяйте типы данных столбцов датафрейма на выбранные вами в прошлом пункте и сравните потребление памяти до и после оптимизации - 1 балл

In [ ]:
# Подзадание №1
import pandas as pd
import numpy as np
df = pd.read_csv("/content/sample_data/Housing.csv")
original_memory = df.memory_usage(deep=True).sum()
print(f"Потребление памяти до оптимизации: {original_memory / 1024**2:.2f} MB")

Потребление памяти до оптимизации: 0.25 MB

**Подзадание №2**

'price' - float64, можно попробовать int64 если нет дробных частей;

'area' - int64;

'bedrooms' - int64;

'bathrooms' - float64, можно попробовать int64;

'stories' - int64;

'parking' - int64;

'mainroad' - category (булевый);

'guestroom' - category (булевый);

'basement' - category (булевый);

'hotwaterheating' - category (булевый);

'airconditioning' - category (булевый);

'prefarea' - category (булевый);

'furnishingstatus' - category.

**Подзадание №3**

In [ ]:
optimized_df = df.copy() # Создаём копию, чтобы не менять исходный DataFrame

optimized_df["price"] = optimized_df["price"].astype(np.int64) # если нет дробных частей
optimized_df["area"] = optimized_df["area"].astype(np.int32)
optimized_df["bedrooms"] = optimized_df["bedrooms"].astype(np.int8)
optimized_df["bathrooms"] = optimized_df["bathrooms"].astype(np.int8)
optimized_df["stories"] = optimized_df["stories"].astype(np.int8)
optimized_df["parking"] = optimized_df["parking"].astype(np.int8)
optimized_df["mainroad"] = optimized_df["mainroad"].astype("category")
optimized_df["guestroom"] = optimized_df["guestroom"].astype("category")
optimized_df["basement"] = optimized_df["basement"].astype("category")
optimized_df["hotwaterheating"] = optimized_df["hotwaterheating"].astype("category")
optimized_df["airconditioning"] = optimized_df["airconditioning"].astype("category")
optimized_df["prefarea"] = optimized_df["prefarea"].astype("category")
optimized_df["furnishingstatus"] = optimized_df["furnishingstatus"].astype("category")



optimized_memory = optimized_df.memory_usage(deep=True).sum()
print(f"Потребление памяти после оптимизации: {optimized_memory / 1024**2:.2f} MB")
print(f"Сокращение потребления памяти: {(original_memory - optimized_memory) / 1024**2:.2f} MB")

print("\nТипы данных после оптимизации:")
print(optimized_df.dtypes)

Потребление памяти после оптимизации: 0.01 MB
Сокращение потребления памяти: 0.23 MB

Типы данных после оптимизации:
price                  int64
area                   int32
bedrooms                int8
bathrooms               int8
stories                 int8
mainroad            category
guestroom           category
basement            category
hotwaterheating     category
airconditioning     category
parking                 int8
prefarea            category
furnishingstatus    category
dtype: object